#component-container {
    display:  flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;
}

#component-header {
    flex: 0 0 auto;
}

#component-body {
    flex: 1 1 auto;
    overflow: auto;
}

.data-flow {
    display: flex;
    align-items: center;
}

.red {
    color:red;
    font-weight: bold;
    font-style: italic;
}