<div id="component-container">
    <div id="component-header">
        <h2>{{ componentTitle }}</h2>
        Add the following URL to the list of application server connections: <i>{{targetURL}}</i>
    </div>
    <div id="component-body">
        <mat-accordion>
            <br />
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        App Server Connections
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <app-connector-configs></app-connector-configs>
            </mat-expansion-panel>
            <br />
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        LoRa Network Server Connections
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        Downlink messages will be forwarded to the URLs listed below.
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <app-binder-configs></app-binder-configs>
            </mat-expansion-panel>
            <br />
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        API Keys
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                        You cam manage your API Keys here.
                    </mat-panel-description> -->
                </mat-expansion-panel-header>
                <app-api-keys></app-api-keys>
            </mat-expansion-panel>


        </mat-accordion>

    </div>

</div>
