mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}




@font-face {
  font-family: 'password';
  font-style: normal;
  font-weight: 400;
  /* src: url("https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf"); */
  src: url("/assets/password.ttf");
}

#api-key {
  font-family: 'password';
}