#component-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

#component-header {
    flex: 0 0;
}

#component-body {
    flex: 1 1;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.table-container {
    width: 100%;
}

table {
   width: 100%;
}
/* table tr:nth-child(even) { 
    background-color: #f2f2f2; 
} */
table tr:hover {
    /* background-color: #ddd;  */
    background-color: #f2f2f2; 
}
table td {
    word-break: break-word;
}
table td.tools {
    white-space: nowrap;
}

.mat-cell, .mat-header-cell {
    padding-left: 15px;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
