<div class="map-container">
  <div class="button-frame">

    <button mat-raised-button (click)="zoomToActilityFloorplan()" class="control-button">To Actility Floorplan</button>
    <button mat-raised-button (click)="zoomToFloorplan01()" class="control-button">To Floorplan 01</button>
    <button mat-raised-button (click)="zoomToBeacons()" class="control-button">Zoom to Beacons</button>
    <button mat-raised-button (click)="toggleBeaconMap()" class="control-button">Show/hide BLE Map</button>
    <button mat-raised-button (click)="switchMap()" class="control-button">Switch Map</button>
    &nbsp;&nbsp;
    <mat-slide-toggle [(ngModel)]="beepsEnabled" (change)="updateBeepsEnabled()">Beeps</mat-slide-toggle>
  </div>
  <div id="map-container">
    <div id="map"></div>
  </div>
</div>
