<div class="form-container">
    <mat-form-field>
        <input class="full-width-input"
            [(ngModel)]="params.name" 
            matInput 
            placeholder="name"
            (change)="onChange()"
        >
    </mat-form-field>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="idType" (change)="idTypeChanged()">
        <mat-radio-button value="mac">mac</mat-radio-button>
        <mat-radio-button value="id">id</mat-radio-button>
    </mat-radio-group>
    <mat-form-field *ngIf="idType==='mac'">
        <input class="full-width-input"
            [(ngModel)]="params.mac" 
            matInput 
            placeholder="mac"
            (change)="onChange()"
        >
    </mat-form-field>
    <mat-form-field *ngIf="idType==='id'">
        <input class="full-width-input"
            [(ngModel)]="params.id" 
            matInput 
            placeholder="id"
            (change)="onChange()"
        >
    </mat-form-field>
    <button mat-button (click)="onSave()">Save</button>
</div>
