/* You can add global styles to this file, and also import other style files */

/*  html, body { height: 100%; } */

* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

html,
body,
app-home,
app-map,
app-logs,
app-bluetooth-map,
app-integrations,
app-connector-configs,
app-connector-config,
app-binder-configs,
app-binder-config
{
  height: 100%;
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue-snackbar {
  background: #0464b3;
  width: 100%;
}

.red-snackbar {
  background: #b33128;
  width: 100%;
}

.green-snackbar {
  background: #0a6b0a;
  width: 100%;
}