<div class="dialog-container">
    <div mat-dialog-content>
        <legend>{{data.title}}</legend>
        <mat-form-field class="geojson-textarea">
            <textarea matInput rows="20" cols="80" [(ngModel)]="data.inputText"></textarea>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>

        <button mat-button (click)="fileInput.click()" matTooltip="Open local file">
            <mat-icon>file_open</mat-icon>
        </button>
        <input hidden (change)="onFileSelected($event)" #fileInput type="file" accept=".json, .geojson, .txt, .text">

        <button mat-button (click)="onSave()" matTooltip="Save to local file">
            <mat-icon>save</mat-icon>
        </button>

        <button mat-button (click)="onClear()" matTooltip="Clear content">
            <!-- <mat-icon>check_box_outline_blank</mat-icon> -->
            <mat-icon>playlist_remove</mat-icon>
        </button>

        <button mat-button [cdkCopyToClipboard]="data.inputText" matTooltip="Copy to clipboard">
            <mat-icon>content_copy</mat-icon>
        </button>




        <button mat-button [mat-dialog-close]="data.inputText" cdkFocusInitial matTooltip="Apply changes on Local Map">
            <mat-icon>done</mat-icon>
        </button>
        <button mat-button (click)="onCancel()" matTooltip="Cancel">
            <mat-icon>close</mat-icon>
        </button>
    </div>
     
</div>
